<div class="continer-fluid">
  <h3>Reactive Dynamic Form</h3>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">
    <div>
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email">
      <!-- <div *ngIf="f.email.errors.required">
        <small class="text-danger">Invalid Email</small>
      </div> -->
    </div>
    <div>
      <button type="button" class="btn btn-success" (click)="addAlternativeEmail()">Add Email</button>
    </div>
      <div formArrayName="alternativeEmails" *ngFor="let items of alternativeEmails.controls; let i=index">
        <label>Alternative Email {{i+1}}</label>
        <input type="text" [formControlName]="i" class="form-control">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>